{% extends 'main/header.html' %}
{% block content %}
{% if ideas %}
<div style="margin-top: 2%;">
  <form method="post" , action="{% url 'insert' %}">
    {% csrf_token %}
    <select class="custom-select" name="dropdown">
      <option selected>Choose Category</option>
      <option value="Technology">Technology</option>
      <option value="Transport">Transport</option>
      <option value="Vehicle">Vehicle</option>
      <option value="Health">Health</option>
    </select>
    <div class="input-group" style="margin-top: 2rem; margin-bottom: 2rem;">
      <div class="input-group-prepend">
        <span class="input-group-text">Idea</span>
      </div>
      <textarea class="form-control" aria-label="With textarea" name="idea"></textarea>
    </div>
    <button type="Submit" class="btn btn-primary">Submit</button>
  </form>
</div>
<div>
  {% for i in ideas %}
  <div id='idealist'>
    <div class='idea_box'>
      <p style="font-size:13px;margin-top:-20px">{{i.ideaPeacher}} <Span
          style="font-size:9px;float:right;">{{i.date_created}}</Span></p>
      <h5 class="card-title">{% for c in i.category.all %}
        {{c.category}}{% endfor %}</h5>
      <p class="card-text">{{i.Post_idea}}</p>
      <a href="{% url 'delete_idea' i.pk %}" class="card-link">Delete</a>
      <a href="{% url 'edit_idea' i.pk %}" class="card-link">Edit</a>
      <p>{{instance.like.count}}<a href='{{instance.get_like_url}}'>like</a></p> 
    
        {%  for b in comments %}
       {% ifequal i.id b.on_post.id %}
        <p>{{b.by}}  {{b.comment}}</p>
        
       
       {% endifequal %}
        {% endfor %}
          
          
          
        
      
      

      <form method='Post', action="{% url 'comment' i.pk %}">

        {% csrf_token %}
        <div class="input-group" style="margin-top: 2rem; margin-bottom: 2rem;">
          <textarea class="form-control" aria-label="With textarea" name="comment" placeholder='comment'></textarea>
        </div>
        <button type="Submit" id='commentbtn' class="btn"
          style="background-color: green;border-radius:20px;font-size:9px;color:white;">Comment</button>
      </form>
    </div>
  </div>
  {% endfor %}
  {% else %}
  <div class="container">
    <div class="row">
      <div class="card-body">
        <h1 class="card-title"> No Result!! </h1>
      </div>
    </div>
  </div>
  {% endif %}
  <div id='paginator'>
      {% if ideas.has_previous %}
      <a href="?page={{ideas.previous_page_number}}"> << </a>

      {%endif%}


    {%for num in ideas.paginator.page_range%}
    {% if ideas.number == num %}

     <span id="pag_number"> 

        <strong>{{num}}</strong>

        {% elif num > ideas.number|add:'-2'  and num < ideas.number|add:'2'%}
        
        <span id='subnumber'>
          <a href="?page={{num}}">{{num}}</a>
        </span>
        
        {%endif%}
     </span>
     

    {%endfor%} 
    {% if ideas.has_next %}
      <a href="?page={{ideas.next_page_number}}"> >> </a>

      {%endif%} 
</div>
</div>
{% endblock %}