{% extends 'main/header.html' %}
{% block content %}

{% if ideas %}
<div>
  {% for i in ideas %}
  <div class="card" style="width: 18rem; margin-bottom: 2rem; margin-top: 1rem; ">
    <div class="card-body">
      <h5 class="card-title">{% for c in i.category.all %}
        {{c.category}}{% endfor %}</h5>

      <p class="card-text">{{i.Post_idea}}</p>
      <a href="{% url 'delete_idea' i.pk %}" class="card-link">Delete</a>
      <a href="{% url 'edit_idea' i.pk %}" class="card-link">Edit</a>
      <p class="card-text">by {{i.ideaPeacher}} {{i.date_created}}</p>
    </div>
  </div>
  {% endfor %}
  {% else %}
  <div class="container">
    <div class="row">
      <div class="card-body">
        <h1 class="card-title"> No Result!! </h1>

      </div>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}